<div class="content-body">
    <div class="container-fluid">
        <div class="sprint-container">
            <div class="sprint-body">
                <div class="list-sprint">
                    <div class="list-sprint_title">
                        <h4 class="text-title">List Sprint</h4>
                    </div>
        
                    <div style="margin-bottom: 8px;" [ngClass]="(sprintId==item.id)? 'active':''" (click)="selectedSprint(item.id)" *ngFor="let item of listSprint">
                        <div class="item-sprint">{{item.name}}</div>
                        <div class="item-sprint italic-text">{{item.dateStart | date: 'dd/MM/yyyy'}} - {{item.dateEnd | date: 'dd/MM/yyyy'}}</div>
                    </div>
                    <div *ngIf="userOnline.isAdmin" class="add-sprint" (click)="openModalAddSprint()">
                        <i class="fa-regular fa-plus"> </i>
                        <span style="color: #00838f;"> Thêm</span>
                    </div>
                </div>
                <div class="sprint-detail">
                    <div class="mgb-20">
                        <!-- <div class="dpl-fl cur" (click)="collapseTarget()">
                            <h4 class="text-title">Sprint Target</h4>
                            <i class="mgt-5 mgr-10" *ngIf="!isCollapseTarget" nz-icon nzType="right" nzTheme="outline"></i>
                            <i class="mgt-5 mgr-10" *ngIf="isCollapseTarget" nz-icon nzType="down" nzTheme="outline"></i>
                        </div>
                        <div *ngIf="isCollapseTarget" >
                            <div *ngFor="let tar of listSprintTarget">
                                {{tar.name}}
                            </div>
                        </div> -->

                        <ngb-accordion activeIds="config-panel-one">
                            <ngb-panel cardClass="custom-header-accordion" collapsed="true" id="config-panel-one">
                                <ng-template ngbPanelHeader let-opened="opened">
                                    <div class="d-flex align-items-center justify-content-between w-100">
                                        <h5 class="m-0">Sprint Target</h5>
                                        <button ngbPanelToggle class="btn btn-link p-0">
                                            <i class="mgt-5 mgr-10" *ngIf="!isCollapseTarget" nz-icon nzType="right" nzTheme="outline" (click)="collapseTarget()"></i>
                                            <i class="mgt-5 mgr-10" *ngIf="isCollapseTarget" nz-icon nzType="down" nzTheme="outline" (click)="collapseTarget()"></i>
                                        </button>
                                    </div>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div>
                                        <div *ngFor="let tar of listSprintTarget">
                                            {{tar.name}}
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                    <div class="mgb-20">
                        <ngb-accordion activeIds="config-panel-one">
                            <ngb-panel cardClass="custom-header-accordion" id="config-panel-one">
                                <ng-template ngbPanelHeader let-opened="opened">
                                    <div class="d-flex align-items-center justify-content-between w-100">
                                        <div style="width: 500px; display: flex;">
                                            <div>
                                                <h5 class="m-0">Sprint Backlog</h5>
                                            </div>
                                            <div class="dpl-fl status-line">
                                                <div class="dpl-fl">
                                                    <div class="circle todo-view"></div>
                                                    <span class="status-1">To Do</span>
                                                </div>
                                                <div class="dpl-fl">
                                                    <div class="circle doing-view"></div>
                                                    <span class="status-2">Doing</span>
                                                </div>
                                                <div class="dpl-fl">
                                                    <div class="circle done-view"></div>
                                                    <span class="status-3">Done</span>
                                                </div>
                                            </div>
                                        </div>
                                        <button ngbPanelToggle class="btn btn-link p-0">
                                            <i class="mgt-5 mgr-10" *ngIf="!isCollapseList" nz-icon nzType="right" nzTheme="outline" (click)="collapseList()"></i>
                                            <i class="mgt-5 mgr-10" *ngIf="isCollapseList" nz-icon nzType="down" nzTheme="outline" (click)="collapseList()"></i>
                                        </button>
                                    </div>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="list-item">
                                                <h5>Priority 1</h5>
                                                <div class="line-hover item-data status-{{item.status}}" *ngFor="let item of listSprintBacklog">
                                                    <div *ngIf="item.priority==1">
                                                        <div>
                                                            <span (click)="showModalDetail(item)">{{item.name}}&nbsp;</span>
                                                            <span *ngIf="item.totalTask>0 && item.doneTask==0" class="status-1">({{item.doneTask}}/{{item.totalTask}} tasks)</span>
                                                            <span *ngIf="item.totalTask>0 && item.doneTask>0 && item.doneTask!==item.totalTask" class="status-2">({{item.doneTask}}/{{item.totalTask}} tasks)</span>
                                                            <span *ngIf="item.totalTask>0 && item.doneTask==item.totalTask" class="status-3">({{item.doneTask}}/{{item.totalTask}} tasks)</span>
                                                        </div>
                                                        <span *ngIf="userOnline.isAdmin" class="is-target" (click)="insertSprintTarget(item)">
                                                            <i *ngIf="!item.isTarget" class="fa-regular fa-star not-target"></i>
                                                            <i *ngIf="item.isTarget" class="fa-regular fa-star" style="color: red;"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="list-item">
                                                <h5>Priority 2</h5>
                                                <div class="line-hover item-data status-{{item.status}}" (click)="showModalDetail(item)" *ngFor="let item of listSprintBacklog">
                                                    <div *ngIf="item.priority==2">{{item.name}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                    <div class="mgb-20">
                        <ngb-accordion activeIds="config-panel-one">
                            <ngb-panel cardClass="custom-header-accordion" id="config-panel-one">
                                <ng-template ngbPanelHeader let-opened="opened">
                                    <div class="d-flex align-items-center justify-content-between w-100">
                                        <h5 class="m-0">Time Working Off</h5>
                                        <button ngbPanelToggle class="btn btn-link p-0">
                                             <i class="mgt-5 mgr-10" *ngIf="!isCollapseTime" nz-icon nzType="right" nzTheme="outline" (click)="collapseTime()"></i>
                                             <i class="mgt-5 mgr-10" *ngIf="isCollapseTime" nz-icon nzType="down" nzTheme="outline" (click)="collapseTime()"></i>

                                        </button>
                                    </div>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div *ngIf="userOnline.isAdmin" class="dpl-fl">
                                        <div class="mgr-10 cur" (click)="addDayOff()">
                                            <i class="fa-regular fa-plus"></i>
                                            <span>&nbsp;Thêm</span>
                                        </div>
                                        <div class="cur" (click)="updateTime()">
                                            <i class="fa-regular fa-floppy-disk"></i>
                                            <span>&nbsp;Save</span>
                                        </div>
                                    </div>
                                    <nz-table #dayOffTable [nzData]="listDayOff" nzOuterBordered>
                                        <thead>
                                            <tr>
                                                <th>User</th>
                                                <th>Ngày nghỉ</th>
                                                <th>Tổng ngày nghỉ</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of listDayOff; index as i">
                                                <td style="width: 250px;">
                                                    <nz-select [(ngModel)]="data.userId" [disabled]="!userOnline.isAdmin">
                                                        <nz-option *ngFor="let user of listUser" [nzValue]="user.userId" [nzLabel]="user.fullName"></nz-option>
                                                    </nz-select>
                                                </td>
                                                <td><nz-date-picker nzFormat="dd/MM/yyyy"  [(ngModel)]="data.dayOff" [disabled]="!userOnline.isAdmin"></nz-date-picker></td>
                                                <td>
                                                    <!-- <input nz-input [(ngModel)]="data.totalDayOff" type="number">  formControlName="timeOffEnd" -->
                                                    
                                                <nz-select nzAllowClear nzPlaceHolder="Thời gian nghỉ" [(ngModel)]="data.dayShift" class="w-100" [disabled]="!userOnline.isAdmin">
                                                        <nz-option nzLabel="Cả ngày" [nzValue]=0></nz-option>
                                                        <nz-option nzLabel="Sáng" [nzValue]=1></nz-option>
                                                        <nz-option nzLabel="Chiều" [nzValue]=2></nz-option>
                                                    </nz-select>
                                                </td>
                
                                                <td *ngIf="userOnline.isAdmin">
                                                    <i (click)="removeTime(i)" class="fa-solid fa-trash"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #tooltipTemplate>

</ng-template>

<!--  -->
<nz-modal [(nzVisible)]="isVisibleSprintBacklog" nzTitle="SprintBacklog Info" (nzOnCancel)="handleCancelSprintBacklog()" (nzOnOk)="updateSprintBacklog()">
    <div *nzModalContent>
        <div [formGroup]="sprintBacklogForm">
            <div class="row mgb-10">
                <div class="col-md-4">Backlog</div>
                <div class="col-md-8">
                    <input nz-input type="text" formControlName="backlogName">
                </div>
            </div>
            <div class="row mgb-10">
                <div class="col-md-4">Tên</div>
                <div class="col-md-8">
                    <input nz-input type="text" formControlName="name">
                </div>
            </div>
            <div class="row mgb-10">
                <div class="col-md-4">Priority</div>
                <div class="col-md-8">
                    <input nz-input type="text" formControlName="priority">
                </div>
            </div>
            <div class="row mgb-10">
                <div class="col-md-4">Phần trăm backlog còn lại</div>
                <div class="col-md-8">
                    <input nz-input type="text" formControlName="percentageRemain">
                </div>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button class="btn btn-outline-dark mgr10" type="button" (click)="handleCancelSprintBacklog()">Hủy</button>
        <button type="button" class="btn light btn-primary mgr10" (click)="updateSprintBacklog()">Sửa</button>
    </div>
</nz-modal>

<!--  -->
<nz-modal [(nzVisible)]="isVisibleAddSprint" nzTitle="Thêm Sprint" (nzOnCancel)="handleCancelAddSprint()" (nzOnOk)="addSprint()">
    <div *nzModalContent>
        <div [formGroup]="addSprintForm">
            <div class="row mgb-10">
                <div class="col-md-3">Bắt đầu</div>
                <div class="col-md-9">
                    <nz-date-picker nzFormat="dd/MM/yyyy" formControlName="timeStart"></nz-date-picker>
                </div>
            </div>
            <div class="row mgb-10">
                <div class="col-md-3">Kết thúc</div>
                <div class="col-md-9">
                    <nz-date-picker nzFormat="dd/MM/yyyy" formControlName="timeEnd"></nz-date-picker>
                </div>
            </div>
            <div class="row mgb-10">
                <div class="col-md-3">Tên</div>
                <div class="col-md-9">
                    <input nz-input type="text" formControlName="name">
                </div>
            </div>
            <div class="row mgb-10">
                <div class="col-md-3">Ngày nghỉ bắt đầu</div>
                <div class="col-md-9">
                    <nz-date-picker style="margin-bottom: 10px;" nzFormat="dd/MM/yyyy" formControlName="dayOffStart"></nz-date-picker>
                    <nz-select nzAllowClear formControlName="timeOffStart" nzPlaceHolder="Thời gian từ" class="w-100">
                        <nz-option nzLabel="Cả ngày" nzValue="full"></nz-option>
                        <nz-option nzLabel="Nửa ngày" nzValue="half"></nz-option>
                      </nz-select>
                </div>
            </div>
            <div class="row mgb-10">
                <div class="col-md-3">Ngày nghỉ kết thúc</div>
                <div class="col-md-9">
                    <nz-date-picker style="margin-bottom: 10px;" nzFormat="dd/MM/yyyy" formControlName="dayOffEnd"></nz-date-picker>
                    <nz-select nzAllowClear formControlName="timeOffEnd" nzPlaceHolder="Thời gian đến" class="w-100">
                        <nz-option nzLabel="Cả ngày" nzValue="full"></nz-option>
                        <nz-option nzLabel="Nửa ngày" nzValue="half"></nz-option>
                      </nz-select>
                </div>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button class="btn btn-outline-dark mgr10" type="button" (click)="handleCancelAddSprint()">Hủy</button>
        <button type="button" class="btn light btn-primary mgr10" (click)="addSprint()">Thêm</button>
    </div>
</nz-modal>
