<div class="home-page">
    <div class="header">
        <span class="header__title">Quản trị chung</span>
        <span class="header__setting"></span>
    </div>
    <div class="body">
        <nz-tabset>
            <nz-tab nzTitle="Phân quyền người dùng">
                <app-account-role></app-account-role>
            </nz-tab>
            <nz-tab nzTitle="Thông tin người dùng">
                <app-employee></app-employee>
            </nz-tab>
            <!-- <nz-tab nzTitle="Tab 3">
                Content of Tab Pane 3
            </nz-tab> -->
        </nz-tabset>
    </div>
</div>
