<!--**********************************
	Content body start
***********************************-->
<div class="content-body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="profile card card-body px-3 pt-3 pb-0">
					<div class="profile-head">
						<div class="photo-content">
							<div class="cover-photo"></div>
						</div>
						<div class="profile-info">
							<div class="profile-photo">
								<img src="assets/images/avatar.jpg" class="img-fluid rounded-circle" alt="">
							</div>
							<div class="profile-details">
								<div class="profile-name px-3 pt-2">
									<h4 class="text-primary mb-0">Đỗ Xuân Dũng</h4>
									<p>Developer</p>
								</div>
								<div class="profile-email px-2 pt-2">
									<h4 class="text-muted mb-0">doxuandungx10@gmail.com</h4>
									<p>Email</p>
								</div>
								<div class="dropdown dropdown-no-icon ml-auto" ngbDropdown>
									<a href="javascript:void(0);" class="btn btn-primary light sharp" ngbDropdownToggle aria-expanded="true"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></a>
									<ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
										<li class="dropdown-item"><i class="fa fa-user-circle text-primary mr-2"></i> View profile</li>
										<li class="dropdown-item"><i class="fa fa-users text-primary mr-2"></i> Add to close friends</li>
										<li class="dropdown-item"><i class="fa fa-plus text-primary mr-2"></i> Add to group</li>
										<li class="dropdown-item"><i class="fa fa-ban text-primary mr-2"></i> Block</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="justify-content: center;">
			<!-- <div class="col-xl-4">
				<div class="row">
					<div class="col-xl-12">
						<app-user-statistics></app-user-statistics>
					</div>
					<div class="col-xl-12">
						<app-highlights></app-highlights>
					</div>
					<div class="col-xl-12">
						<app-interest></app-interest>
					</div>
					<div class="col-xl-12">
						<app-latest-news  [data]="news"></app-latest-news>
					</div>
				</div>
			</div> -->

			<!-- <div class="col-xl-8"> -->
				<div class="card" style="width: 700px;">
					<div class="card-body">
						<div class="profile-tab">
							<div class="custom-tab-1">
								<ul class="nav nav-tabs" ngbNav #nav="ngbNav" >
									<li class="nav-item" ngbNavItem="profile-settings"><a href="#profile-settings" data-toggle="tab" class="nav-link" ngbNavLink>Tài khoản của tôi</a>
										<ng-template ngbNavContent>
											<div id="profile-settings" class="tab-pane">
                                                <div class="pt-3">
                                                    <div class="settings-form">
                                                        <form [formGroup]="accountForm">
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label>Username</label>
                                                                    <input type="email" placeholder="Email" class="form-control" formControlName="username">
																</div>
                                                                <div class="form-group col-md-6">
                                                                    <label>Password</label>
                                                                    <input type="password" placeholder="Password" class="form-control">
																</div>
															</div>
                                                            <div class="form-group">
                                                                <label>Tên</label>
                                                                <input type="text" class="form-control" formControlName="fullName">
															</div>
                              <!-- <div class="form-group">
                                <label>Vị trí</label>
                                <input type="text" class="form-control" formControlName="position">
                              </div> -->
                              <div class="form-group">
                                <label>Giới tính</label>
                                <!-- <input type="text" class="form-control" formControlName="gender"> -->
                                <select class="form-control default-select" id="inputState" formControlName="gender">
                                  <option [value]="1">Nam</option>
                                  <option [value]="2">Nữ</option>
                                  <option [value]="3">Không xác định</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label>Ngày sinh</label>
                                <div class="input-group">
                                  <input class="form-control" name="dp" ngbDatepicker #d="ngbDatepicker">
                                  <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                                  </div>
                                </div>
                              </div>

                                                            <!-- <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label>City</label>
                                                                    <input type="text" class="form-control">
																</div>
                                                                <div class="form-group col-md-4">
                                                                    <label>State</label>
                                                                    <select class="form-control default-select" id="inputState">
                                                                        <option selected="">Choose...</option>
                                                                        <option>Option 1</option>
                                                                        <option>Option 2</option>
                                                                        <option>Option 3</option>
																	</select>
																</div>
                                                                <div class="form-group col-md-2">
                                                                    <label>Zip</label>
                                                                    <input type="text" class="form-control">
																</div>
															</div>
                                                            <div class="form-group">
                                                                <div class="custom-control custom-checkbox">
																	<input type="checkbox" class="custom-control-input" id="gridCheck">
																	<label class="custom-control-label" for="gridCheck"> Check me out</label>
																</div>
															</div> -->
                                                            <button class="btn btn-primary" type="submit" (click)="updateUserInfo()">Lưu</button>
														</form>
													</div>
												</div>
											</div>
										</ng-template>


									</li>
								</ul>

								<div [ngbNavOutlet]="nav" class=""></div>
							</div>
							<!-- Modal -->
							<ng-template #replyModal let-modal>

								<div class="modal-header">
									<h4 class="modal-title" id="modal-basic-title">Post Reply</h4>
									<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form>
										<div class="form-group">
											<textarea class="form-control" rows="4">Message</textarea>
										</div>
										<div class="form-group">
											<button type="button" class="btn btn-primary">Reply</button>
										</div>
									</form>
								</div>
							</ng-template>
						</div>
					</div>
				</div>
			<!-- </div> -->
		</div>
	</div>
</div>
<!--**********************************
	Content body end
***********************************-->
