<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Mô tả chung</h4>
                        <i class="fa-solid fa-ellipsis-vertical" (click)="editDescription()"></i>
                    </div>
                    <div class="card-body mb-0">
                        <div *ngIf="!isEditingDescription" class="content">{{project?.description}}</div>
                        <textarea *ngIf="isEditingDescription" nz-input [(ngModel)]="project.description"></textarea>
                    </div>
                    <div *ngIf="isEditingDescription" class="card-footer" style="text-align: end;">
                        <button type="button" class="btn btn-outline-dark btn-sm mgr10" (click)="cancelEditDescription()">Hủy</button>
    	                <button type="button" class="btn light btn-primary btn-sm mgr10" (click)="saveDescription()">Lưu</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thành viên</h4>
                        <button type="button" class="btn light btn-primary" (click)="openModalAddUser()">Thêm mới</button>
                        <!-- <i class="fa-solid fa-ellipsis-vertical" (click)="openModalAddUser()"></i> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Username</th>
                                <th scope="col">Vị trí</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let user of listUser; index as i">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{ user.fullName }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.position }}</td>
                                <td>
                                    <i (click)="showConfirm(user.id)" class="fa-solid fa-trash button-danger"></i>
                                </td>
                            </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #contentbasic let-modal>
  <div class="modal-header">
	<h4 class="modal-title" id="modal-basic-title">Chọn user</h4>
	<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
	  <span aria-hidden="true">&times;</span>
	</button>
  </div>
  <div class="modal-body default-calendar">
	<form>
	  <div class="form-group">
		<div class="input-group">
            <nz-select class="form-control" nzMode="multiple" [(ngModel)]="listSelectedUserId" nzPlaceHolder="Chọn user">
                <nz-option *ngFor="let data of listAllUserSystem" [nzValue]="data.id" [nzLabel]="data.fullName"></nz-option>
            </nz-select>
		</div>
	  </div>
	</form>
  </div>
  <div class="modal-footer">
	<button type="button" class="btn light btn-primary" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template> -->

<nz-modal [(nzVisible)]="isVisibleAddUser" nzClassName="add-user" nzTitle="Thêm User" (nzOnCancel)="handleCancel()" (nzOnOk)="addUser()">
    <div *nzModalContent>
        <div class="row">
            <div class="col-lg-6">
                <nz-select style="width: 100%; border-radius: 10px" nzPlaceHolder="Chọn user" [(ngModel)]="formAdd.userId">
                    <nz-option *ngFor="let data of listAllUserSystem" [nzValue]="data.id" [nzLabel]="data.fullName"></nz-option>
                </nz-select>
            </div>
            <div class="col-lg-6">
                <nz-select style="width: 100%; border-radius: 10px" nzPlaceHolder="Chọn vị trí" [(ngModel)]="formAdd.positionId">
                    <nz-option *ngFor="let data of listPosition" [nzValue]="data.id" [nzLabel]="data.name"></nz-option>
                </nz-select>
            </div>
        </div>
        <!-- <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Vị trí</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of listUser; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ user.fullName }}</td>
                    <td>{{ user.position }}</td>
                    <td>

                    </td>
                </tr>
                </tbody>
            </table>
        </div> -->
    </div>
    
    <div *nzModalFooter>
        <button type="button" class="btn btn-outline-dark btn-sm mgr10" (click)="handleCancel()">Hủy</button>
    	<button type="button" class="btn light btn-primary btn-sm mgr10" (click)="addUser()">Lưu</button>
    </div>
</nz-modal>