<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">About project</h4>
                    </div>
                    <div class="card-body mb-0">
                        <div class="content">{{project?.description}}</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Basic table</h4>
                    </div>
                    <div class="card-body">
                        <app-table-basic></app-table-basic>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>