<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">About project</h4>
                    </div>
                    <div class="card-body mb-0">
                        <div class="content">{{project?.description}}</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Member</h4>
                        <button type="button" class="btn light btn-primary" (click)="openModalAddUser()">Thêm mới</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Username</th>
                                <th scope="col">Position</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let user of listUser; index as i">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{ user.fullName }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.position }}</td>
                            </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #contentbasic let-modal>
  <div class="modal-header">
	<h4 class="modal-title" id="modal-basic-title">Chọn user</h4>
	<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
	  <span aria-hidden="true">&times;</span>
	</button>
  </div>
  <div class="modal-body default-calendar">
	<form>
	  <div class="form-group">
		<div class="input-group">
            <nz-select class="form-control" nzMode="multiple" [(ngModel)]="listSelectedUserId" nzPlaceHolder="Chọn user">
                <nz-option *ngFor="let data of listAllUserSystem" [nzValue]="data.id" [nzLabel]="data.fullName"></nz-option>
            </nz-select>
		</div>
	  </div>
	</form>
  </div>
  <div class="modal-footer">
	<button type="button" class="btn light btn-primary" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template> -->

<nz-modal [(nzVisible)]="isVisibleAddUser" nzClassName="add-user" nzTitle="Thêm User" (nzOnCancel)="handleCancel()" (nzOnOk)="addUser()">
    <div *nzModalContent>
        <nz-select style="width: 100%; height: 56px; border-radius: 10px" nzMode="multiple" nzPlaceHolder="Chọn user" [(ngModel)]="listSelectedUserId">
            <nz-option *ngFor="let data of listAllUserSystem" [nzValue]="data.id" [nzLabel]="data.fullName"></nz-option>
        </nz-select>
    </div>
    
    <div *nzModalFooter>
        <button type="button" class="btn btn-outline-dark mgr10" (click)="handleCancel()">Hủy</button>
    	<button type="button" class="btn light btn-primary mgr10" (click)="addUser()">Save</button>
    </div>
</nz-modal>