<!--**********************************
    Sidebar start
***********************************-->
<div class="deznav">
    <div class="deznav-scroll" [perfectScrollbar]>
        <div class="main-profile">
            <img src="assets/images/avatar.jpg" alt="">
            <a href="javascript:void(0);"><i class="fa fa-cog" aria-hidden="true"></i></a>
            <h5 class="mb-0 fs-20 text-black "><span class="font-w400">Hello,</span> Dung</h5>
            <p class="mb-0 fs-14 font-w400">doxuandungx10@mail.com</p>
        </div>
        <ul class="metismenu" id="menu" metis-menu>
            <li [ngClass]="{'mm-active': dashboardArray.indexOf(currentHref) > -1}">
                <a class="{{(currentHref == 'overview' || currentHref == '') ? 'mm-active' : ''}}" [routerLink]="['overview']" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-144-layout"></i>
                    <span class="nav-text">Overview</span>
                </a>
            </li>
            <li [ngClass]="{'mm-active': apsArray.indexOf(currentHref) > -1}">
                <a [routerLink]="['backlog']" class="{{(currentHref == 'backlog') ? 'mm-active' : ''}}" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-077-menu-1"></i>
                    <span class="nav-text">Backlog</span>
                </a>
            </li>
            <li [ngClass]="{'mm-active': chartsArray.indexOf(currentHref) > -1}">
                <a [routerLink]="['sprint']" class="{{(currentHref == 'sprint') ? 'mm-active' : ''}}" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-061-puzzle"></i>
                    <span class="nav-text">Sprint Planning</span>
                </a>
            </li>
            <li [ngClass]="{'mm-active': bootstrapArray.indexOf(currentHref) > -1}">
                <a [routerLink]="['sprint-detail']" class="{{(currentHref == 'sprint-detail') ? 'mm-active' : ''}}" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-055-cube"></i>
                    <span class="nav-text">Sprint Detail</span>
                </a>
            </li>
            <li [ngClass]="{'mm-active': materialArray.indexOf(currentHref) > -1}">
                <a [routerLink]="['board']" class="{{(currentHref == 'board') ? 'mm-active' : ''}}" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-layer-1"></i>
                    <span class="nav-text">Board</span>
                </a>
            </li>
            <li [ngClass]="{'mm-active': pluginsArray.indexOf(currentHref) > -1}">
                <a [routerLink]="['chart']" class="{{(currentHref == 'chart') ? 'mm-active' : ''}}" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-004-bar-chart" style="margin-right: 2px;"></i>
                    <span class="nav-text">Chart</span>
                </a>
            </li>
            <!-- <li class="{{(currentHref == 'widget-basic') ? 'mm-active' : ''}}">
                <a [routerLink]="['widget-basic']" class="ai-icon {{(currentHref == 'widget-basic') ? 'mm-active' : ''}}" aria-expanded="false">
                    <i class="flaticon-073-settings"></i>
                    <span class="nav-text">Widget</span>
                </a>
            </li>
            <li [ngClass]="{'mm-active': formsArray.indexOf(currentHref) > -1}">
                <a [routerLink]="['form-element']" class="{{(currentHref == 'form-element') ? 'mm-active' : ''}}" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-044-file"></i>
                    <span class="nav-text">Forms</span>
                </a>
            </li> -->
            <li [ngClass]="{'mm-active': pages.indexOf(currentHref) > -1}">
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-049-copy"></i>
                    <span class="nav-text">Pages</span>
                </a>
                <ul aria-expanded="false">
                    <li><a [routerLink]="['app-profile']" class="{{(currentHref == 'app-profile') ? 'mm-active' : ''}}">Profile</a></li>
                    <li><a [routerLink]="['/page-register']">Register</a></li>
                    <li><a [routerLink]="['/page-login']">Login</a></li>
                    <!-- <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                        <ul aria-expanded="false">
                            <li><a [routerLink]="['/page-error-400']">Error 400</a></li>
                            <li><a [routerLink]="['/page-error-403']">Error 403</a></li>
                            <li><a [routerLink]="['/page-error-404']">Error 404</a></li>
                            <li><a [routerLink]="['/page-error-500']">Error 500</a></li>
                            <li><a [routerLink]="['/page-error-503']">Error 503</a></li>
                        </ul>
                    </li>
                    <li><a [routerLink]="['/page-lock-screen']">Lock Screen</a></li> -->
                </ul>
            </li>
        </ul>
        <div class="copyright">
            <p><strong>Zenix Crypto Admin Dashboard</strong> © 2021 All Rights Reserved</p>
            <p class="fs-12">Made with <span [ngClass]="{'': toggleIcon, 'heart-blast': !toggleIcon}" class="heart" (click)="toggleLoveIcon()"></span> by DexignZone</p>
        </div>
    </div>
</div>
<!--**********************************
    Sidebar end
***********************************-->