
<div id="main-wrapper" [ngClass]="{'menu-toggle': sharedService.hamburgerClass, '': !sharedService.hamburgerClass}"  class="show">
    <app-nav-header></app-nav-header>
    <app-header></app-header>
    <div style="padding-top: 10rem; margin-left: 1rem; margin-right: 1rem;">
        <!-- <button (click)="navigate()">Navigate</button> -->
        <div class="row">
            <div class="col-sm-2 project-card" *ngFor="let proj of listProject" [routerLink]="['./', proj.projectId]">
                <div class="card text-white bg-primary">
                    <div class="card-header">
                        <h5 class="card-title text-white">{{proj.name}}</h5>
                    </div>
                    <div class="card-body mb-0">
                        <p class="card-text">{{proj.description}}</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 text-white">{{proj.totalMember}} Members
                    </div>
                </div>
            </div>
            <div class="col-sm-2 project-card" >
                <div class="card text-white bg-primary">
                    <div class="card-header" style="border: none;">
                    </div>
                    <div class="card-body mb-0" style="text-align: center;">
                        <i class="fa-solid fa-circle-plus" style="color: white; font-size: 4em;"></i>
                    </div>
                    <div class="card-footer bg-transparent border-0 text-white">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-footer></app-footer> -->
</div>
