<div class="content-body">
    <div class="container-fluid">
        <div style="display: flex; margin-bottom: 0.5rem;">
            <button type="button" class="btn tp-btn-light btn-primary btn-sm" (click)="openModalAddBacklog()">
                <i class="fa-solid fa-plus"></i> Thêm mới</button>

            <button type="button" class="btn tp-btn-light btn-primary btn-sm">
                <i title="Convert to SprintBacklog" class="fa-solid fa-right-left"></i>
                <a nz-dropdown [nzDropdownMenu]="menu"> Convert to {{selectedSprint.name}}</a>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item (click)="selectSprint(item)" *ngFor="let item of listSprint">{{item.name}}</li>
                </ul>
            </nz-dropdown-menu>
            <!-- <i *ngIf="selectedSprint.id != 0" (click)="openConvertModal()" nz-icon nzType="arrow-right" nzTheme="outline"></i> -->
            <div *ngIf="selectedSprint.id != 0" class="btn-action">
                <i (click)="undoSelected()" class="fa-sharp fa-solid fa-rotate-left"></i>
            </div>
            <div style="padding-top: 0.5rem" (click)="openConvertModal()" class="btn-action" *ngIf="listConvert.length != 0">
                <span>{{listConvert.length}} mục được chọn</span>
            </div>
        </div>
        <div class="table-responsive">
            <!-- <table class="table table-striped"> -->
            <nz-table #basicTable [nzData]="listBacklog" nzShowSizeChanger (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" nzOuterBordered>
            <thead>
            <tr>
                <th *ngIf="selectedSprint.id != 0">
                    <!-- <i (click)="undoSelected()" nz-icon nzType="undo" nzTheme="outline"></i> -->
                    <label nz-checkbox [(ngModel)]="allCheckedCurrentPage" (ngModelChange)="onAllChecked($event)"></label>
                </th>
                <th scope="col">#</th>
                <th scope="col">Hạng mục</th>
                <th scope="col">Chi tiết</th>
                <th scope="col">Người thực hiện</th>
                <th scope="col">Piority</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of listBacklog; index as i">
                <td *ngIf="selectedSprint.id != 0">
                    <label nz-checkbox [(ngModel)]="data.checked" [nzDisabled]="(data.percentageRemain == 0)? true: false" (ngModelChange)="changeChecked($event, data)"></label>
                </td>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{data.name}}</td>
                <td>{{data.description}}</td>
                <td>{{data.performerName}}</td>
                <td>{{data.priority}}</td>
                <td>{{data.statusText}}</td>
                <td>
                    <i class="fa-solid fa-pen-to-square fa-lg mgr10" (click)="openModalEdit(data)" title="Sửa backlog" ></i>
                    <i class="fa-solid fa-trash fa-lg button-danger" (click)="showConfirm(data.id)"></i>
                </td>
            </tr>
            </tbody>
            <!-- </table> -->
            </nz-table>
        </div>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisibleModalBacklog" nzTitle="Thông tin Backlog" (nzOnCancel)="handleCancel()">
    <div *nzModalContent>
        <div [formGroup]="backlogForm">
            <div class="row mgb-10">
                <div class="col-md-3">Hạng mục</div>
                <div class="col-md-9">
                    <input nz-input formControlName="name" type="text">
                </div>
            </div>
            <div class="row mgb-10">
                <div class="col-md-3">Chi tiết</div>
                <div class="col-md-9">
                    <textarea nz-input formControlName="description" type="text"></textarea>
                </div>
            </div>
            <div class="row mgb-10">
                <div class="col-md-3">Người thực hiện</div>
                <div class="col-md-9">
                    <nz-select style="width: 100%; border-radius: 4px;" formControlName="userId" (ngModelChange)="log($event)">
                        <nz-option *ngFor="let item of listUser" [nzValue]="item.userId" [nzLabel]="item.fullName"></nz-option>
                    </nz-select>
                </div>
            </div>
            <!-- <div class="row mgb-10">
                <div class="col-md-3">Module</div>
                <div class="col-md-9">
                    <input nz-input formControlName="module" type="text">
                </div>
            </div> -->
            <div class="row mgb-10">
                <div class="col-md-3">Status</div>
                <div class="col-md-9">
                    <div>{{f['statusText'].value}}</div>
                    <!-- <input nz-input type="text" formControlName="statusText" nzDisabled="true"> -->
                </div>
            </div>
            <div class="row mgb-10">
                <div class="col-md-3">Priority</div>
                <div class="col-md-9">
                    <input [readonly]="!isAdd" nz-input formControlName="priority" type="number">
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-2">Module</div>
                <div class="col-md-10">
                    <nz-select formControlName="module">
                        <nz-option [nzValue]="0" nzLabel="Web"></nz-option>
                        <nz-option [nzValue]="1" nzLabel="App"></nz-option>
                    </nz-select>
                </div>
            </div> -->
        </div>
    </div>
    <div *nzModalFooter>
        <button class="btn btn-outline-dark btn-sm mgr10" type="button" (click)="handleCancel()">Hủy</button>
        <button *ngIf="isAdd" type="button" class="btn light btn-primary btn-sm mgr10" (click)="addBacklog()">Thêm</button>
        <button *ngIf="!isAdd" type="button" class="btn light btn-primary btn-sm mgr10" (click)="updateBacklog()">Sửa</button>
    </div>
</nz-modal>

<!--  -->
<nz-modal nzWidth="900px" [(nzVisible)]="isVisibleModalConvert" nzTitle="Sprint Backlog Preview" (nzOnCancel)="handleCancelConvert()" nzOuterBordered>
    <div *nzModalContent>
        <nz-table *ngIf="isVisibleModalConvert" #convertTable [nzData]="listConvert">
            <thead>
                <tr>
                    <th>Hạng mục</th>
                    <th>Tên</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Phần trăm còn lại của Backlog</th>
                    <!-- <th></th> --> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of convertTable.data">
                    <td>{{data.backlogName}}</td>
                    <td>
                        <!-- {{data.name}} -->
                        <input nz-input [(ngModel)]="data.name" type="text">
                    </td>
                    <td>{{convertStatusText(data.status)}}</td>
                    <td>
                        <!-- {{data.priority}} -->
                        <input [readonly]="true" nz-input [(ngModel)]="data.priority">
                    </td>
                    <td>
                        <!-- {{data.percentageRemain}} -->
                        <input nz-input [(ngModel)]="data.percentageRemain" type="number">
                    </td>
                    <!-- <td>
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                        <i nz-icon nzType="undo" nzTheme="outline"></i>
                        <i nz-icon nzType="save" nzTheme="outline"></i>
                    </td> -->
                </tr>
            </tbody>
        </nz-table>
    </div>
    <div *nzModalFooter>
        <button class="btn btn-outline-dark btn-sm mgr10" (click)="handleCancelConvert()">Hủy</button>
        <button class="btn light btn-primary btn-sm mgr10" (click)="convertSprintBacklog()">Convert</button>
    </div>
</nz-modal>
