
<div class="content-body">
    <div class="container-fluid">
        <div class="board-header">
    <div class="mgr-20">
        <nz-select style="width: 200px;" [(ngModel)]="selectedSprintId" (ngModelChange)="onChangeSprint()" nzPlaceHolder="Chọn Sprint">
            <nz-option *ngFor="let item of listSprint" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        </nz-select>
    </div>
    <div class="mgr-20">
        <nz-select style="width: 200px;" nzAllowClear [(ngModel)]="selectedUserId" (ngModelChange)="getListTaskOfUser()" nzPlaceHolder="Chọn User">
            <nz-option *ngFor="let item of listUser" [nzValue]="item.userId" [nzLabel]="item.fullName"></nz-option>
        </nz-select>
    </div>
    <div>
        <i nz-icon nzType="filter" nzTheme="outline" (click)="filterData()"></i>
    </div>
        </div>

        <div class="board-container row">
    <div class="col-md-4">
        <h4>To do</h4>
        <div class="item-board" cdkDropList #todoList="cdkDropList" [cdkDropListData]="listTaskTodoId" [cdkDropListConnectedTo]="[doneList, doingList]" (cdkDropListDropped)="drop($event)">
            <div class="task-box bg-todo" *ngFor="let item of listTaskTodo" cdkDrag>
                <div class="task-name" (click)="openModalUpdateTime(item)">{{item.name}}</div>
                <div class="over-flt">
                    <div style="float: left;">{{item.fullName}}</div>
                    <div style="float: right; display: flex;">
                        <div class="status todo-task"></div>
                        <span>{{convertStatusText(item.status)}}</span>
                    </div>

                </div>
                <div>
                    <span>Estimated Time: </span>
                    <span>{{item.estimatedTime}}</span>
                </div>
            </div>
            <!-- <a>
                <i nz-icon nzType="plus" nzTheme="outline"></i>
                <span>Thêm</span>
            </a> -->
        </div>
    </div>

    <div class="col-md-4">
        <h4>Doing</h4>
        <div class="item-board" cdkDropList #doingList="cdkDropList" [cdkDropListData]="listTaskDoingId" [cdkDropListConnectedTo]="[doneList, todoList]" (cdkDropListDropped)="drop($event)">
            <div class="task-box bg-doing" *ngFor="let item of listTaskDoing" cdkDrag>
                <div class="task-name" (click)="openModalUpdateTime(item)">{{item.name}}</div>
                <div class="over-flt">
                    <div style="float: left;">{{item.fullName}}</div>
                    <div style="float: right; display: flex;">
                        <div class="status doing-task"></div>
                        <span>{{convertStatusText(item.status)}}</span>
                    </div>
                </div>
                <div>
                    <span>Estimated Time: </span>
                    <span>{{item.estimatedTime}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h4>Done</h4>
        <div class="item-board" cdkDropList #doneList="cdkDropList" [cdkDropListData]="listTaskDoneId" [cdkDropListConnectedTo]="[doingList, todoList]" (cdkDropListDropped)="drop($event)">
            <div class="task-box bg-done" *ngFor="let item of listTaskDone" cdkDrag>
                <div class="task-name" (click)="openModalUpdateTime(item)">{{item.name}}</div>
                <div class="over-flt">
                    <div style="float: left;">{{item.fullName}}</div>
                    <div style="float: right; display: flex;">
                        <div class="status done-task"></div>
                        <span>{{convertStatusText(item.status)}}</span>
                    </div>
                </div>
                <div>
                    <span>Estimated Time: </span>
                    <span>{{item.estimatedTime}}</span>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>

<!-- Modal Update Task Time  -->
<nz-modal [(nzVisible)]="isVisibleUpdateTime" nzWidth="1200px" nzTitle="Cập nhật thời gian task" (nzOnCancel)="onCancelUpdateTime()" (nzOnOk)="onOkUpdateTime()">
  <div *nzModalContent>
    <div class="title">
      <div>Task: {{selectedTask.name}}</div>
      <div>Người thực hiện: {{this.listUser ? getNameByUserId(selectedTask.userId) : null}}</div>
      <div>Time Estimated: {{selectedTask.estimatedTime}}</div>
    </div>
    <nz-table #taskTable [nzData]="listTask" nzOuterBordered [nzScroll]="{x: '900px'}">
        <thead>
            <tr>
                <th style="width: 330px;" *ngFor="let item of workingDayOfSprint">{{item}}</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
            <tr>
                <td *ngFor="let time of workingDayOfSprint; index as k">
                    <div *ngIf="selectedTask.listTaskDetail.length>0">
                        <input type="number" nz-input [(ngModel)]="selectedTask.listTaskDetail[k].remainTime">
                    </div>
                    <div *ngIf="selectedTask.listTaskDetail.length==0">
                        <input type="number" nz-input>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
  </div>
  <div *nzModalFooter>
        <button class="btn btn-outline-dark mgr10" type="button">Hủy</button>
        <button type="button" class="btn light btn-primary mgr10">Sửa</button>
    </div>
</nz-modal>
