.btn-search {
    width: 200px;
    float: left;
}

.employee-header {
    margin-bottom: 10px;
    overflow: hidden;
}

.btn-add {
    float: right;
    cursor: pointer;
}

.mgr-10 {
    margin-right: 10px;
}